<!--<h1 *ngIf="dataFromChild">
     {{ dataFromChild?.name + ' ' +  dataFromChild?.gender}}
</h1>

<div *ngFor="let employee of employees">
    <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
</div>-->

<div class="form-group">
   <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" placeholder="Search by Name"/>
</div>
<div class="form-group">
   <button class="btn btn-primary" (click)="nameChange()">Click to change name</button>
</div>

<!--<div *ngFor="let employee of employees | employeeFilter:searchTerm">-->
<div *ngFor="let employee of filteredEmployees">    
    <div (click)="onClick(employee.id)" class="pointerCurser">
        <app-display-employee [employee]="employee" #childComponent></app-display-employee>
    </div>
</div>