<!-- using "ngNativeValidate" :- it will allow html5 required, pattern, max-length all attributs otherwise by default angular forms are comes with noValidation -->
<!--<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(); employeeForm.reset()">   -->
<!--<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">-->
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
   </div>
   <div class="panel-body">

       <div class="form-group" 
       [class.has-error]="name.invalid && name.touched"  [class.has-success]="name.valid">
          <label for="name" class="control-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name" required #name="ngModel">
          
          <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
        </div>

        <div class="form-group" 
        [class.has-error]="email.invalid">
          <label for="email" class="control-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employee.email" [required]="contactPreference.value=='Email'" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" #email="ngModel">

          <span class="help-block" *ngIf="email.errors?.required">Email is required</span>

          <span class="help-block" *ngIf="email.errors?.pattern && email.touched">Email is Invalid</span>
        </div>

        <div class="form-group" [class.has-error]="phoneNumber.invalid">
          <label for="phoneNumber" class="control-label">Phone Number:</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" [required]="contactPreference.value=='phone'" #phoneNumber="ngModel">

          <span class="help-block" *ngIf="phoneNumber.invalid">Phone number is required</span>
        </div>

        <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
          <label class="control-label">Contact Preference:</label>
          <div class="form-control">
            <label class="radio-inline">
             <input type="radio" value="Email" name="contactPreference" [(ngModel)]="employee.contactPreference" required #contactPreference="ngModel">
             Email
             </label>
             <label class="radio-inline">
             <input type="radio" value="phone" name="contactPreference" [(ngModel)]="employee.contactPreference" required #contactPreference="ngModel">
             Phone Number
             </label>
          </div>

          <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contact Preference is required</span>
          <!--contactPreference value : {{contactPreference.value}}-->
        </div>

        <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
          <label class="control-label">Gender:</label>
          <div class="form-control">
            <label class="radio-inline">
             <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender" required #gender="ngModel">
             Male
             </label>
             <label class="radio-inline">
             <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender" required #gender="ngModel">
             Female
             </label>
          </div>

          <span class="help-block" *ngIf="gender.touched && gender.invalid">Gender is required</span>

        </div>

        <div class="form-group" [class.has-error]="isActive.touched && isActive.invalid">
          <div class="form-control">
            <label class="checkbox-inline">
             <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" [required]="employee.isActive=='null'" #isActive="ngModel">
             Is Active
             </label>
          </div>
          <span class="help-block" *ngIf="isActive.touched && isActive.errors?.required">Is Active is required</span>
        </div>

        <div class="form-group" [class.has-error]="department.touched && department.invalid">
            <label for="department" class="control-label">
                Department
             </label>
             <select id="department" appSelectValidator="select" name="department" [(ngModel)]="employee.department" class="form-control" #department="ngModel">    
               <option value="select">Select Department</option>
                <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
             </select>

             <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">Department is required</span>
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="text" class="form-control" id="dateOfBirth" bsDatepicker name="dateOfBirth" [(ngModel)]="employee.dateOfBirth">
        </div>

        
        <div class="form-group">
          <label for="photoPath">Photo Path:</label>
          <input type="text" class="form-control" id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath">
        </div>

        <div class="form-group">
           <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">{{ previewPhoto ? "Hide" : "Show" }} Preview</button>
        </div>

        <div class="form-group">
            <img [src]="employee.photoPath" width="200px" height="auto" *ngIf="previewPhoto"/> 
        </div>
     
    <!--
      
      https://www.youtube.com/watch?v=lhl3w5rH7A8&index=29&list=PL6n9fhu94yhXwcl3a6rIfAI7QmGYIkfK5
      
      <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">

       <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for="password" class="control-label">Password</label>
          <input type="text" name="password" required class="form-control" (input)="confirmPassword.control.updateValueAndValidity()" [(ngModel)]="employee.password" #password="ngModel">

          <span class="help-block" *ngIf="password.touched && password.errors?.required">Password is required</span>
       </div> 

       <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <input type="text" appConfirmEqualValidator="password" name="confirmPassword" required class="form-control" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">

          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password is required</span>

          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">Confirm Password doesn't match</span>
       </div> 

       </div>  -->

   </div>
   <div class="panel-footer">
       <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-primary">Save</button>
   </div>
</div>
</form>

{{employeeForm.value | json}}
<hr>
{{ employee | json }}   